aside {
    width: 200px;
    padding: 20px;
    background-color: #ecf0f1;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
  
aside h1 {
    margin-top: 0;
    font-size: 28px;
    color: #2c3e50;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
.category-item {
    margin: 10px;
    padding: 5px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    color: #34495e;
}
  
.category-item:hover {
    background-color: #dfe6e9;
    border-radius: 4px;
}
